body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  text-align: center;
  background-color: cornsilk;
}

.container-score {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  float: left;
  padding: 20px;
  margin: left;
  border: 0px;
  width: 200px;
  height: auto;
  display: block;
  position: relative;
}

.container-timer {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  float: right;
  padding: 20px;
  margin: right;
  border: 0px;
  width: 200px;
  height: auto;
  color: purple;
  display: block;
  position: relative;
}

.container-quiz {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: rgb(90, 8, 111);
  padding: 250px;
  font-size: 15px;
  color: #000000;
}

#welcome {
  font-size: 20px;
  font-weight: bold;
}

#startbtn {
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

#tabs {
  color: rgb(90, 8, 111);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  padding-left: 275px;
}
